<div [ngClass]="alerta">
    <strong>Saludos</strong> desde muy lejano
</div>

<button type="button" (click)="alerta ='alerta advertencia'" class="boton">
    Advertencia
</button>

<button type="button" (click)="alerta ='alerta error'" class="boton err">
    Error
</button>

<h3 class="alerta" [ngClass]=" { 'error': propiedades.error, 'advertencia': !propiedades.error } ">
    Como estas
</h3>

<button type="button" (click)="propiedades.error = !propiedades.error"class="boton" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">
    Cambiar
</button>

<br> <br>

<h3>Proceso asincrono</h3>

<button type="button" class="boton" (click)="ejecutar()" [disabled]="loading">
    <i class="fa" [ngClass]="{'fa-save': !loading, 'fa-spin fa-refresh': loading }"></i>
    <span *ngIf="!loading">Guardar Cambios</span>
    <span *ngIf="loading">Espere por favor...</span>
</button>
  