<div class="container">
    <label for="nombre">Nombre:</label>
    <br>
    <input type="text" id="nombre" placeholder="Nombre..."[(ngModel)]="nombrePersona">
    
    <p>
        {{ nombrePersona}}
    </p>

    <button type="button" (click)="enviarMensaje(nombrePersona)">Enviar</button>
</div>
