<p [style.fontSize.px]="tamanio">
    Hola mundo... esta es una etiqueta 
</p>
<button type="button" class="boton" (click)="tamanio = tamanio + 5">
    +
</button>
<button type="button" class="boton resta" (click)="tamanio = tamanio - 5">
    - 
</button>

