<div *ngIf="usuario">
    <p>
        <b>Genero:</b> {{usuario.gender}}
        <br>
        <b>Nombre</b>{{ usuario.name['title'] }} {{ usuario.name['first'] }}  {{ usuario.name['last'] }}
    </p>
</div>
<hr>

<div>
    <h2>Operador Map</h2>
    <button type="button" class="boton" (click)="showFemale()">Femenino</button>

    <div *ngIf="femenino">
        <p>
          <b>Genero:</b> {{ usuario2.gender }}
          <br>
          <b>Nombre:</b> {{ usuario2.name['title'] }} {{ usuario2.name['first'] }}  {{ usuario2.name['last'] }}
        </p>
    </div>
    
</div>
<!-- obtener pais -->
<!-- <div>
    <h2>Obtener Pais</h2>
    <button type="button" class="boton" (click)="showFemale2()">Pais</button>    
    <div *ngIf="femenino">
        <p>
          <b>Pais:</b> {{ pais.location.country }}
          <br>
        </p>
    </div>
    
</div> -->
<hr>
<div>
    <h2>Obtener Pais</h2>
    <button type="button" class="botton" (click)="obtenerPais()">Pais</button>

    <div *ngIf="location">
          <p>
          <b>Genero:</b> {{ pais.gender }}
          <br>
          <b>Nombre:</b> {{ pais.name['title'] }} {{ pais.name['first'] }}  {{pais.name['last'] }}
          <br>
          <b>Pais:</b> {{ pais.location.country}}
        </p>
    </div>
    
</div>
<hr>


<div>
    <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>
<hr>


<div>
    <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>
    <div *ngIf="usuario3">
      <p>
        <b>Nombre:</b> {{ usuario3.name['title'] }} {{ usuario3.name['first'] }}  {{ usuario3.name['last'] }}
      </p>
      <p>
        <b>Foto:</b>
        <br>
        <img [src]="usuario3['picture'].large" alt="persona">
      </p>
    </div>
  </div>
  <hr>
  

<div>
  <h2>Obtener Datos (TAREA)</h2>
  <button type="button" class="botton" (click)="MostrarDatos()">MOSTRAR DATOS</button>
  <div *ngIf="datos">

    <p>
      <b>Nombre:</b> {{ datos.name['title'] }} {{ datos.name['first'] }}  {{ datos.name['last'] }}
    </p>

     <p>
      <b>Correo:</b> {{datos.email}}
    </p>

    <p>
      <b> Usuario:</b> {{datos.login['username'] }}
    </p>

    <p>
      <b> Contraseña:</b> {{datos.login['password'] }}
    </p>

    <p>
      <b>Fotos:</b>
      <br>  
      <img [src]="datos['picture'].thumbnail" alt="persona">
      <img [src]="datos['picture'].medium" alt="persona">      
      <img [src]="datos['picture'].large" alt="persona">
    </p>

  </div>

</div>

<hr>
<br><br><br><br><br><br><br><br>

  
  